<h3>Classification Report</h3>

<div class="container-md">
   <div class="card">
      <div class="card-heading bg-primary">
         <div class="card-title">Models</div>
      </div>
      <div class="card-body">
         <div class="mda-list">
            <div class="mda-list-item">
               <div class="mda-list-item-icon bg-primary">
                  <em class="fa fa-star fa-lg"></em>
               </div>
               <div class="mda-list-item-text mda-2-line">
                  <h3>Model 1</h3>
                  <h4>Brunch this weekend?</h4>
               </div>
            </div>
            <div class="mda-list-item">
               <div class="mda-list-item-icon bg-info">
                  <em class="fa fa-coffee fa-lg"></em>
               </div>
               <div class="mda-list-item-text mda-2-line">
                  <h3>Model 2</h3>
                  <h4>Brunch this weekend?</h4>
               </div>
            </div>
            <div class="mda-list-item">
               <div class="mda-list-item-icon bg-purple">
                  <em class="fa fa-cloud fa-lg"></em>
               </div>
               <div class="mda-list-item-text mda-2-line">
                  <h3>Model 3</h3>
                  <h4>Brunch this weekend?</h4>
               </div>
            </div>
            <div class="mda-list-item">
               <div class="mda-list-item-initial bg-pink">M</div>
               <div class="mda-list-item-text mda-2-line">
                  <h3>Model 4</h3>
                  <h4>Brunch this weekend?</h4>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>