<div class="md-welcome">
   <div class="md-welcome-msg">
      <div class="container container-md">
         <h1 class="animated fadeInDown anim-delay-10">Analytics Dashboard 2</h1>
         <h2 class="animated fadeInLeft anim-delay-15">On MarkLogic</h2>
      </div>
   </div>
</div>
<div class="container container-md">
   <p class="lead m0">Online Data Analytics Made Simple!</p>
   <div class="row md-welcome-row">
      <div class="col-md-4">
         <div md-ink-ripple="md-ink-ripple" class="card animated fadeInDown anim-delay-20">
            <div class="card-body">
               <p class="lead text-bold">Interactive Upload</p>Upload your data and define semantic terms.</div>
         </div>
      </div>
      <div class="col-md-4">
         <div md-ink-ripple="md-ink-ripple" class="card animated fadeInDown anim-delay-25">
            <div class="card-body">
               <p class="lead text-bold">Semantic Search</p>Search and identify conceptual relationships.</div>
         </div>
      </div>
      <div class="col-md-4">
         <div md-ink-ripple="md-ink-ripple" class="card animated fadeInDown anim-delay-30">
            <div class="card-body">
               <p class="lead text-bold">Intelligent Analytics</p>Perform analytics using advanced models.</div>
         </div>
      </div>
   </div>
   <h4>Start browsing our solutions</h4>
   <p class="pv-lg animated fadeInUp anim-delay-35">
      <button md-ink-ripple="md-ink-ripple" type="button" ui-sref="app.dashboard" class="btn btn-primary btn-lg">Go to Dashboard</button>
   </p>
</div>